<ion-view view-title="Account">
  <ion-content>
      <header>
      <figure class="profile-picture"
              style="background-image: url('http://unsplash.it/150/150')">
      </figure>
          <h1>
              Qian<a href="javascript:void(0);" class="change profile">
                  Muokkaa profilla
              </a>
          </h1>
      <div class="profile-stats">
          <ul>
              
              <li>100 <span>julkaisua</span></li>
              <li>32    <span>seuraajaa<a href="javascript:void(0);" class="follow"></a></span></li>
              <li>34   <span>seurannassa</span></li>
          </ul>
          
      </div>
      
      </header>
  </ion-content>
</ion-view>
